@media (min-width: 1024px) {
    main {
        .div-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .cards img {
                transition: scale 250ms;
                z-index: 2;

                &:hover {
                    scale: 130%;
                }
            }
        }

        .main-index {
            .card-index {
                max-width: 400px;
            }
        }

        .card-contacto {
            max-width: 400px;
        }
    }


}