* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.container,
.container-fondo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  padding: 0px !important;
  margin: 0px !important;
}

.container-fondo {
  background-color: none;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position-x: right;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.navbar {
  display: grid;
  grid-area: header;
  background-color: #683ab7;
  z-index: 4;
}
.navbar li {
  text-align: center;
}
.navbar li:hover {
  background-color: blueviolet;
}
.navbar li a {
  text-decoration: none;
  color: #f5f5f5;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-area: main;
  justify-content: center;
  align-content: center;
}
main .div-cards {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}
main .div-cards .cards {
  box-shadow: 4px 4px 8px;
  border-radius: 16px;
  grid-auto-rows: auto;
  margin: 24px;
  overflow: hidden;
  max-width: 300px;
  background-color: #f5f5f5;
}
main .div-cards .cards img {
  display: grid;
  width: 100%;
}
main .div-cards .cards h3 {
  display: grid;
  text-align: center;
  color: #f5f5f5;
  background-color: #683ab7;
  height: 48px;
  margin: 0;
  align-items: center;
}

.main-div {
  display: grid;
  grid-template-columns: 1fr;
  grid-area: main;
  grid-template-rows: auto;
  place-items: center;
}
.main-div .card-index {
  display: grid;
  box-shadow: 4px 4px 8px;
  width: 90%;
  max-width: 300px;
  border-radius: 16px;
  aspect-ratio: 1/1;
  margin: 24px;
  overflow: hidden;
  background-color: #f5f5f5;
  opacity: 75%;
  place-items: center;
}
.main-div .card-index h3, .main-div .card-index p {
  text-align: center;
  margin: 2px;
}
.main-div .card-index .index-card-top {
  display: grid;
  grid-template-columns: 6fr 8fr;
  align-items: center;
  justify-items: center;
}
.main-div .card-index .index-card-top img {
  width: 80%;
}
.main-div .card-index .index-card-top h1 {
  text-align: center;
  color: #683ab7;
  font-size: 26px;
}

.card-contacto {
  padding: 24px;
  box-shadow: 4px 4px 8px;
  border-radius: 16px;
  grid-auto-rows: auto;
  margin: 24px;
  max-width: 300px;
  width: 100vh;
  background-color: rgba(245, 245, 245, 0.5450980392);
  text-align: center;
}

.cards-cursos {
  display: grid;
  width: 300px;
  height: 420px;
  margin: 24px;
  box-shadow: 4px 4px 8px;
  border-radius: 16px;
  grid-auto-rows: auto;
  overflow: hidden;
  background-color: #f5f5f5;
}
.cards-cursos img {
  aspect-ratio: 1/1;
  width: 300px;
}
.cards-cursos p {
  text-align: center;
  align-content: center;
  margin: 2px;
}

.div-banner {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: 64px;
}
.div-banner .banner-guitarras {
  width: 90%;
}
.div-banner h3, .div-banner p {
  margin: 24px;
}
.div-banner p {
  text-align: center;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-area: footer;
  width: 100%;
  background-color: #683ab7;
  justify-content: space-around;
  text-align: center;
}
footer a, footer p {
  color: #f5f5f5;
  text-decoration: none;
  padding: 0;
  margin: 8px 0px 8px 0px;
}
footer img {
  width: 48px;
  padding: 8px;
}

@media (min-width: 768px) {
  .main-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  main .div-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 24px 0 24px 0;
  }
  .card-index {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 400px;
    aspect-ratio: 1/1;
  }
  footer {
    display: grid;
    grid-area: footer;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 4px;
  }
  footer a {
    margin: 16px;
  }
}
@media (min-width: 1024px) {
  main .div-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  main .div-cards .cards img {
    transition: scale 250ms;
    z-index: 2;
  }
  main .div-cards .cards img:hover {
    scale: 130%;
  }
}

/*# sourceMappingURL=style.css.map */
