html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    height: 100%;
}



.container, .container-fondo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
    padding: 0px!important;
    margin: 0!important;
}

.container-tienda{

}
.container-fondo {
    display: grid;
    grid-template-columns: 1fr;
    background-color: none;
    background-image: url('../assets/background.png');
    background-size:cover;
    background-attachment: fixed;
    background-position-x: right;
    min-height: 100%;
}


/* Header */


.navbar {
    display: grid;
    grid-area: header;
    background-color: #683ab7e3;
    opacity: 75%;
    backdrop-filter: blur(5px);
    z-index: 4;
}

.navbar li {
    text-align: center;
}

.navbar li:hover{
    background-color: blueviolet;
}
/* .navbar {
    background-color: #683ab7e3;
    backdrop-filter: blur(5px);
    display: grid;
    grid-area: header;
    width: 100%;
    position: fixed;
    z-index: 4;
} */

/* .navbar-list {
    display: grid;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    text-align: center;
    list-style-type: none;
    padding: 4px;
} */

.navbar a {
    text-decoration: none;
    color: #f5f5f5;
}

/*.li-actual a {
    border-bottom: 2px solid #f5f5f5;
    padding: 2px;
} */

/* Main */

main {
    display: grid;
    grid-area: main;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
    /* height: auto; */
    justify-content: center;
    align-content: center;
    /* padding-top: 100px; */
}

/* Cards de Tienda */

.div-cards {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    /* margin-top: 145px; */
}

.cards {
    box-shadow: 4px 4px 8px;
    border-radius: 16px;
    grid-auto-rows: auto;
    margin: 24px;
    overflow: hidden;
    max-width: 300px;
    background-color: #f5f5f5;
}

.cards img {
    display: grid;
    width: 100%;
}

.cards h3 {
    display: grid;
    text-align: center;
    color: #f5f5f5;
    background-color: #683ab7e3;
    height: 48px;
    margin: 0;
    align-items: center;
}

/* Card de Index */

.card-index{
    display: grid;
    box-shadow: 4px 4px 8px;
    width: 90%;
    max-width: 400px;
    border-radius: 16px;
    aspect-ratio: 1 / 1;
    margin: 18px;
    overflow: hidden;
    /* max-width: 300px; */
    background-color: #f5f5f5;
    opacity: 75%;
    place-items: center;
}

.main-div{
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    place-items: center;
}

.index-card-top{
    display: grid;
    grid-template-columns: 6fr 8fr;
    align-items: center;
    justify-items: center;
}

.index-card-top img{
width:80%;
}

.index-card-top h1{
    text-align: center;
    color: #683ab7e3;
    font-size: 26px;
}

.card-index h3, .card-index p{
    text-align: center;
    margin: 2px;
}

/* CONTACTO */

.card-contacto{
    padding: 24px;
    box-shadow: 4px 4px 8px;
    border-radius: 16px;
    grid-auto-rows: auto;
    margin: 24px;
    overflow: hidden;
    max-width: 300px;
    background-color: #f5f5f5;
}


/* Footer */

footer {
    display: grid;
    grid-area: footer;
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    background-color: #683ab7e3;
    opacity: 75%;
    justify-content: space-around;
    text-align: center;
    position: fixed;
    bottom: 0%;
}

footer a,
footer p {
    color: #f5f5f5;
    text-decoration: none;
    padding: 0;
    margin-top: 8px;
}

footer img {
    width: 32px;
    padding: 8px;
}

/* TABLET */

@media (min-width: 768px) {

    .main-div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
    /* .navbar-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-start: 2;
        justify-content: center;
        padding-right: 4px;
    } */

    .div-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* margin-top: 64px; */
        margin-bottom: 64px;
    }

    .index-cards {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card-houston{
        max-width: 400px;
        aspect-ratio: 1 / 1;
    }

    /* Footer */

    footer{
        display: grid;
        grid-area: footer;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .div-footer {
        display: grid;
        grid-area: footer;
        grid-template-columns: 1fr 1fr;
        /* display: flex;
        flex-direction: row;
        justify-content: space-around; */
        padding: 4px;
        align-items: center;
        /* bottom: 0%; */
    }

    footer div a {
        margin: 16px;
    }
}

/* DESKTOP */

@media (min-width: 1024px) {

    /* Navbar */

    .navbar-list li a:hover {
        border-bottom: 4px solid #f5f5f5;
        padding: 2px;
    }

    /* Cards */
    .div-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
}

    .card-houston {
        /* width: 400px; */
        aspect-ratio: 1 / 1;
    }

    .cards img {
        transition: scale 250ms;
        z-index: 2;
    }

    .cards img:hover {
        scale: 130%;
    }
}