.card-contacto {
    padding: 24px;
    box-shadow: $sombra;
    border-radius: 16px;
    grid-auto-rows: auto;
    margin:$margen;
    max-width: 300px;
    width: 100vh;
    background-color: #f5f5f58b;
    text-align: $alineado;
}